body {
    background-image: url(../images/regal.png);
}

h1 {
    padding: 15px;
    color: aliceblue;
    font-family: 'Engagement', cursive;
}
p {
    font-family: 'Engagement', cursive;
}

#title {
    font-size: 72px;
    height: 100px;
    width: 500px;
    background-color: blue;
    margin-bottom: 25px;
    text-align: center;
    
}

#instructions {
    height: 450px;
    width: 500px;
    font-size: 30px;
    background-color: pink;
    color: aliceblue;
}

#text {
    padding: 25px;
}

#random-number {
    height: 100px;
    width: 200px;
    background-color: blueviolet;
    color: aliceblue;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 25px;
    float: left;
    font-size: 36px;
}

#win-lose {
    float: left;
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    color: aliceblue;
    margin-top: 15px;
    margin-left: 15px;
    font-family: 'Engagement', cursive;
    font-size: 24px;
}

#alert {
    float: left;
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    margin-top: 15px;
    color: aliceblue;
    font-family: 'Engagement', cursive;
    font-size: 24px;
    text-align: center;
}

#game-alert {
    padding-top: 35px;
}

#images {
    clear: both;
}

#opal,
#ruby,
#sapphire,
#steven {
    height: 125px;
    width: 125px;
}

#score-info {
    height: 100px;
    width: 200px;
    background-color: blueviolet;  
    color: aliceblue;
    font-size: 24px;
    margin-left: 155px;
    margin-bottom: 15px;
    margin-top: 15px;
}

#score {
    text-align: center;
    margin-top: 15px;
    font-size: 36px;
}